
html {
    font-size: 18px;
}
html, body {
    height: 100%;
}
body > .container {
    min-height: 100%;
}
.uper {
    margin-top: 40px;
}

.uper img.cover-image {
    width: 100%;
}
nav a.nav-link {
    color: rgba(255, 255, 255, 0.5);
}

nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}
nav.navbar {
    padding: 0;
}

nav {
    height: 84px;
}
@media only screen and (max-width: 800px) {
    nav img.logo {
        display: none;
    }
}


.btn.btn-info {
    color: white;
}

dt, dd {
    display: inline-block;
}
dt::after {
    content: ":";
}
dd {
    margin-left: 0.5rem;
}
#html5-validator-link img {
    /*margin-top: -64px;*/
    position: absolute;
    left: 50%;
}

button {
    background-color: #E1E1E1;
}


.contact-section, .address-section {
    border: 1px solid grey;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

.contact-section input[type="radio"], .address-section input[type="radio"] {
    display: block;
    margin: 1rem;
}

.delete-contact-section, .delete-address-section {
    margin: -0.5rem -0.5rem 0 0;
    cursor: pointer;
}

#user-form #submit-button, #user-form #cancel-button {
    margin-top: 2rem;
}

/* General ---------------------------------------------------------------- */

.min-vh-100 {
    min-height: 100vh;
}

.mt-6 {
    margin-top: 6rem;
}

.negative-margins {
    margin-left: -15px;
    margin-right: -15px;
}